.skills-container {
    background-color: white;
    padding: 3rem 0 2rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
}

.skills-container > h1 {
    color: black;
    font-size: 26px;
}

.skillspic {
    height: auto;
    width: 100%;
    justify-content: left;
}

.skills-heading {
    height: 40px;
    width: 40px;
    color: black;
}

