.contact-container {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
    object-fit: contain;
}
.background {
  background-size: contain;
  width: auto;
  height: auto;
  position: fixed;
  z-index: -1;
  }

.contact-container > h1 {
  margin-top: -42%;
  margin-left: 50%;
  margin-bottom: -8%;
  color: #fff;
  font-size: 55px;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  // letter-spacing: 2px;
  letter-spacing: 10px;
}

form {
  display: table;
  margin-top: -14%;
  // margin: 100px auto;

  input,
  textarea {
    margin-left: 110%;
    font: 18px Helvetica, Arial, sans-serif;
    box-sizing: border-box;
    display: block;
    border: none;
    padding: 10px;
    width: 250px;
    margin-bottom: 16px;
    font-size: 18px;
    outline: none;
    transition: all 0.2s ease-in-out;

    &::placeholder {
      transition: all 0.2s ease-in-out;
      color: #999;
      font: 18px Helvetica, Arial, sans-serif;
    }

    &:focus,
    &.populated {
      padding-top: 18px;
      padding-bottom: 8px;

      &::placeholder {
        color: transparent;
      }
    }
  }

  textarea {
    height: 200px;
  }

  button {
    transition: all 0.2s ease-in-out;
    font: 18px Helvetica, Arial, sans-serif;
    border: none;
    background: #1792E8;
    color: #fff;
    padding: 20px;
    width: 100%;
    margin-left: 110%;
    text-transform: uppercase;
    letter-spacing: 5px;

    &:hover {
      background: #0e82d4;
      cursor: pointer;
    }
  }
}